<form method="post" accept-charset="UTF-8" action="/show_events">
	Calendar ID:<input type="text" name="calendarId"/><br/>
	<input type="hidden" name="ctz" value="Asia/Calcutta">
	<input type="submit" value="Show"/>
</form>