<form method="post" accept-charset="UTF-8" action="/insert_new_event">
	Summary:<input type="text" name="summary"/><br/>
	Location:<input type="text" name="location"/><br/>
	Start DateTime:<input type="text" name="start_date_time"/>(Please put in "yyyy-mm-ddTHH:MM:ss" format)<br/>
	End DateTime:<input type="text" name="end_date_time"/>(Please put in "yyyy-mm-ddTHH:MM:ss" format)<br/>
	Attendees Email:<input type="text" name="attendees_email"/><br/>
	<input type="submit" value="Create"/>
</form>
